<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomePage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Home Page</h1>
        <form method='post' action="{% url 'print-message' %}">
            {% csrf_token %}
            <button type="submit">Run Custom Command</button>
        </form>

        {% if messages %}
        <div class="message">
            <ul>
                {% for message in messages %}
                <li class="{{message.tags}}">{{message}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        
        <script src="" async defer></script>
    </body>
</html>